<div id="{{device.id}}" class="tile text-shadow" data-role="tile">
    <div class="tile-content">
        <span class="tile-label">{{device.name}}</span>
        <span id="details_{{device.id}}">
             lock: <span class="lock"></span> 
             battery: <span class="battery"></span>
        <div class="mif-lock mif-2x fg-red">
            <label class="switch">
                <input type="checkbox" checked/>
                <span class="check"></span>
            </label>
        </div>
        </span>
    </div>
</div>



<!-- Required Scripts -->
<script>
    var attributes = '{ "attributes" : { {{#each device.attributes}} "{{@key}}" : "{{this}}" , {{/each}}  } }';
    attributes = attributes.replace(/(.*?),\s*(\}|])/g, "$1$2");
    var attribs = JSON.parse(attributes);
    
    var commands = '{ "commands" : { {{#each device.commands}} "command" : "{{command}}" , {{/each}} } }';
    commands = commands.replace(/(.*?),\s*(\}|])/g, "$1$2");
    var cmds = JSON.parse(commands);
    var output = $('#details_{{device.id}}').html();
    for (var i in attribs.attributes) {
         $('#details_{{device.id}}').find("." + i).html(attribs.attributes[i]);
    }
    $('#details_{{device.id}}').html(output);
</script>