<div id="{{device.id}}" class="tile tile-wide text-shadow" data-role="tile">
    <div class="tile-content">
        <span class="tile-label">{{device.name}}</span>
        <span id="details_{{device.id}}">
            temp: <span class="temperature"></span> 
            humidity: <span class="humidity"></span> 
            hetSet: <span class="heatingSetpoint"></span> 
            coolSet: <span class="coolingSetpoint"></span> 
            Setpoint: <span class="thermostatSetpoint"></span> 
            Mode: <span class="thermostatMode"></span>
            FanMode: <span class="temperature"></span> 
            OperatingState: <span class="humidity"></span> 
            Status: <span class="heatingSetpoint"></span> 
            maxHeatingSetpoint: <span class="coolingSetpoint"></span> 
            maxCoolingSetpoint: <span class="thermostatSetpoint"></span> 
            minCoolingSetpoint: <span class="thermostatMode"></span>
            tempUnit: <span class="deviceTemperatureUnit"></span>

        <div data-role="group" data-group-type="multi-state" data-button-style="class">
            <button class="button mif-first"></button>
            <button class="button mif-last"></button>
            <button class="button">Fan On</button>
            <button class="button">Fan Auto</button>
        </div>
    </div>
    </span>
</div>
</div>



<!-- Required Scripts -->
<script>
    var attributes = '{ "attributes" : { {{#each device.attributes}} "{{@key}}" : "{{this}}" , {{/each}}  } }';
    attributes = attributes.replace(/(.*?),\s*(\}|])/g, "$1$2");
    var attribs = JSON.parse(attributes);
    var commands = '{ "commands" : { {{#each device.commands}} "command" : "{{command}}" , {{/each}} } }';
    commands = commands.replace(/(.*?),\s*(\}|])/g, "$1$2");
    var cmds = JSON.parse(commands);
    for (var i in attribs.attributes) {
        $('#details_{{device.id}}').find("." + i).html(attribs.attributes[i]);
    }
</script>