<div id="{{device.id}}" class="tile text-shadow" data-role="tile">
    <div class="tile-content">
        <span class="tile-label">{{device.name}}</span>
        <span id="details_{{device.id}}">
            temperature: <span class="temperature"></span> battery: <span class="battery"></span> contact: <span
            class="contact"></span> threeAxis: <span class="threeAxis"></span> acceleration: <span class="acceleration"></span>        status: <span class="status"></span> level: <span class="level"></span> switch: <span class="switch"></span> Motion:
        <span class="motion"></span>
        </span>
    </div>
</div>

<!-- Required Scripts -->
<script>
    var attributes = '{ "attributes" : { {{#each device.attributes}} "{{@key}}" : "{{this}}" , {{/each}}  } }';
    attributes = attributes.replace(/(.*?),\s*(\}|])/g, "$1$2");
    var attribs = JSON.parse(attributes);
    var commands = '{ "commands" : { {{#each device.commands}} "command" : "{{command}}" , {{/each}} } }';
    commands = commands.replace(/(.*?),\s*(\}|])/g, "$1$2");
    var cmds = JSON.parse(commands);
    for (var i in attribs.attributes) {
        $('#details_{{device.id}}').find("." + i).html(attribs.attributes[i]);
    }
</script>