<div id="devices" style="background-color: #fff;color:#000;margin:0;opacity: .7;padding:15px">
    <div><h3>Devices</h3></div>
    <p>
        <input id="getDevices" class="button primary" type="button" value="Get Devices from SmartThings" />
        <input id="saveDevices" style="display:none" class="button primary" type="button" value="Save Devices" />
        <p id="results"></p>
    </p>

    <div id="devicelist">
        <button style="display:none" id="loading" class="button loading-cube lighten danger">Loading...</button>
        <div id="deviceTable">
            <table id="tableDevices" class='table table-bordered table-condensed' style="opacity: 1;">
                <tr>
                    <th>Id</th>
                    <th>Display Name</th>
                    <th>Type</th>
                    <th>Commands</th>
                    <th>Last Updated</th>
                </tr>
                {{#each devices}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{type}}</td>
                    <td>{{#each commands}}
                        {{command}},
                        {{/each}}
                    </td>
                    <td>{{date}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/devices.js"></script>